@model WebApp23621759.Models.ViewModel.Auth.ForgotPasswordRequestViewModel

<div class="page-auth">
    <div class="card-auth">
        <h2 class="title">Forgot Password</h2>
        <p class="auth-description">
            Enter your email and we will send you a 6-digit reset code.
        </p>

        <form asp-action="ForgotPassword" asp-controller="AccountSecurity" method="post" class="auth-form">
            <div class="form-group">
                <label asp-for="Email">📧 Email</label>
                <input asp-for="Email" placeholder="Enter your email" />
                <div class="field-error">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <button type="submit" class="primary-btn">Send reset code</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
